<html>
  <head>
   <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>jQuery Table Filtering Demo Page</title>
        <meta name="description" content="">
        <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <style>
            body {
               background-color:#f7f7f7;
            }
        </style>
 
  </head>
  <body>
  
<div class="container" style="margin-top:150px;">
<h3> CCP Product Recommendations listing </h3>
<div id="filter-container" class="panel panel-default col-md-12" style="padding:20px;">
<div class="form-group">
<input class="form-control" type="text" id="filter" placeholder="...type here to filter recomendations by product / service name...">
</div>
{% block content %}

{{ result.to_html(classes='table table-striped user-table table-inverse" id = "my_id') | safe}}

{% endblock %}

</br>
</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
<script type="text/javascript" src={{url_for('static', filename='jquery.tableFilter.js')}}></script>

          <script>
            //search filtering for table of students
            $(document).ready(function(){
                        $('#filter-container').tableFilter({tableID: '#my_id', autofocus: true});
                      
                        $('#my_id tr td:nth-child(2)').addClass("filter-cell");
            });
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>

